<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>借书窗口</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
</head>

<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="assets/i/logo.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

   <li class="am-dropdown tognzhi" data-am-dropdown>
  <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o" data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">6</span></button>
  <ul class="am-dropdown-content">
  	
  	
  	
    <li class="am-dropdown-header">所有消息都在这里</li>

    

    <li><a href="#">未激活会员 <span class="am-badge am-badge-danger am-round">556</span></a></li>
    <li><a href="#">未激活代理 <span class="am-badge am-badge-danger am-round">69</span></a></a></li>
    <li><a href="#">未处理汇款</a></li>
    <li><a href="#">未发放提现</a></li>
    <li><a href="#">未发货订单</a></li>
    <li><a href="#">低库存产品</a></li>
    <li><a href="#">信息反馈</a></li>
    
    
    
  </ul>
</li>

 <li class="kuanjie">
 	
 	<a href="#">会员管理</a>          
 	<a href="#">奖金管理</a> 
 	<a href="#">订单管理</a>   
 	<a href="#">产品管理</a> 
 	<a href="#">个人中心</a> 
 	 <a href="#">系统设置</a>
 </li>

 <li class="soso">
 	
<p>   
	
	<select data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}">
          <option value="b">全部</option>
          <option value="o">产品</option>
          <option value="o">会员</option>
          
        </select>

</p>

<p class="ycfg"><input type="text" class="am-form-field am-input-sm" placeholder="圆角表单域" /></p>
<p><button class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button></p>
 </li>




      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">

<!--最左边的菜单栏-->
  <div class="nav-navicon admin-main admin-sidebar">

    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：冯凡利</div>
    <div class="sideMenu">

      <!--袁月明-->
      <h3 class="am-icon-flag"><em></em> <a href="#">图书管理</a></h3>
      <ul>
        <li><a href="图书列表.html">图书列表</a></li>
        <!--<li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'>添加新图书</li>-->
        <li><a href="添加新图书.html">添加新图书</a></li>
        <li><a href="图书分类.html">图书分类</a></li>
        <li><a href="借阅排行榜.html">借阅排行榜</a></li>   <!--后期改成借阅排行榜-->
      </ul>

      <!--李蕊-->
      <h3 class="am-icon-cart-plus"><em></em> <a href="#"> 借阅管理</a></h3>
      <ul>
        <li><a href="借阅详细列表.html">借阅列表</a></li>
        <li><a href="借书窗口.html">借书窗口</a></li>
        <li><a href="还书窗口.html">还书窗口</a></li>
        <li><a href="超期人员与还款.html">超期人员与还款</a></li>
      </ul>

      <!--华诏婕-->
      <h3 class="am-icon-users"><em></em> <a href="#">用户管理</a></h3>
      <ul>
        <li><a href="用户列表.html">用户列表</a></li>
        <li><a href="添加新用户.html">添加用户</a></li>
      </ul>

      <h3 class="am-icon-volume-up"><em></em> <a href="#">通知信息</a></h3>
      <ul>
        <li><a href="发布新公告.html">发布最新公告</a> </li>
        <li><a href="历史公告.html">历史公告</a></li>
        <li><a href="用户评论.html">用户评论</a></li>
      </ul>

      <h3 class="am-icon-gears"><em></em> <a href="#">系统设置</a></h3>
      <ul>
        <li><a href="#">导入数据</a></li>
        <li><a href="#">系统界面</a></li>
        <li><a href="#">系统参数</a></li>
        <li><a href="#">切换用户</a></li>
        <li><a href="#">修改密码</a></li>
        <li><a href="#">数据库导入</a></li>
      </ul>

    </div>
    <!-- sideMenu End -->

    <script type="text/javascript">
        jQuery(".sideMenu").slide({
            titCell:"h3", //鼠标触发对象
            targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
            effect:"slideDown", //targetCell下拉效果
            delayTime:300 , //效果时间
            triggerTime:150, //鼠标延迟触发时间（默认150）
            defaultPlay:true,//默认是否执行效果（默认true）
            returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
        });
    </script>
  </div>

  <div class=" admin-content">

      <!--首页、帮助中心、奖金管理、产品管理-->
	<div class="daohang">
			<ul>
              <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">奖金管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">产品管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
			</ul>
</div>

    <div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">借书窗口</a></dl>
      <dl>
        <button type="button" class="am-btn am-btn-danger am-round am-btn-xs " >借阅书籍</button><!--am-icon-plus data-am-modal="{target: '#my-popup'}"-->
      </dl>
    </div>

      <!--表格-->
    <div class="fbneirong">
      <form class="am-form">

        <div class="am-form-group am-cf">
          <div class="zuo">图书编号：</div>
          <div class="you">
            <input type="email" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入图书编号">
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">图书名称：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-pwd-1" placeholder="请输入图书名称">
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">借阅者：</div>
          <div class="you">
            <input type="text" class="am-input-sm"  placeholder="请输入借阅者姓名">
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">借阅者编号：</div>
          <div class="you">
            <input type="text" class="am-input-sm"  placeholder="请输入借阅者编号">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">借阅者学院：</div>
          <div class="you">
            <input type="text" class="am-input-sm"  placeholder="请输入借阅者学院">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">借阅者专业：</div>
          <div class="you">
            <input type="text" class="am-input-sm"  placeholder="请输入借阅者专业">
          </div>
        </div>

        
        <div class="am-form-group am-cf">
          <div class="zuo">备注：</div>
          <div class="you">
            <textarea class="" rows="2" ></textarea><!--id="doc-ta-1"-->
          </div>
        </div>
        
        <div class="am-form-group am-cf">
          <div class="zuo">其他信息：</div>
          <div class="you">
            <textarea class="" rows="2" id="doc-ta-1"></textarea>
          </div>
        </div>
        
        
        <div class="am-form-group am-cf">
        <div class="zuo">推荐：</div>
        <div class="you" style="margin-top: 5px;">
          <label class="am-checkbox-inline">
            <input type="checkbox" value="option1">
            选我 </label>
          <label class="am-checkbox-inline">
            <input type="checkbox" value="option2">
            同时可以选我 </label>
          <label class="am-checkbox-inline">
            <input type="checkbox" value="option3">
            还可以选我 </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="submit" class="am-btn am-btn-success am-radius">发布并关闭窗口</button>&nbsp;  &raquo; &nbsp; <button type="submit" class="am-btn am-btn-secondary am-radius">发布并继续发布</button>

          </div>
        </div>
      </form>
    </div>

  
 
 <div class="foods">
  <ul>
    版权所有@2015. 模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -  More Templates<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
  </ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>




</div>

</div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->



</body>
</html>